@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
	font-family: 'Inter', sans-serif;
}

.bebas {
	font-family: 'Bebas', sans-serif;
}

body {
	font-family: 'Inter', sans-serif;
}

*:focus {
	outline: none;
}

.transition-all {
	transition: all 0.7s ease;
}

ul {
	list-style-type: none;
	padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 5000s ease-in-out,
		transform 0.7s ease-in-out;
	/* transform auto linear; */
}
input[data-autocompleted] {
	background-color: transparent !important;
}

html {
	scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: var(--gray-medium);
}

*::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 10px;
}
