@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
	font-family: 'Inter', sans-serif;
}

.bebas {
	font-family: 'Bebas', sans-serif;
}

body {
	font-family: 'Inter', sans-serif;
}

*:focus {
	outline: none;
}

.transition-all {
	transition: all 0.7s ease;
}

ul {
	list-style-type: none;
	padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 600000s 0s,
		color 600000s 0s;
}
input[data-autocompleted] {
	background-color: transparent !important;
}

html {
	scrollbar-gutter: stable;
}
